* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Spin Cycle';
    /* outline: 1px solid red; */
}

body {
    width: 100%;
    line-height: 1.5;
    overflow-x: hidden;
}

header {
    height: auto;
    padding: 0;
    background-color: transparent;
    color: white;
    border: none;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-size: 12px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    height: 32px;
    margin-right: auto;
}

nav img {
    margin-left: 100px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

nav a {
    color: aliceblue;
}

.hero h1{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 32px;
    margin: 150px 0 0 0;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

h2 {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.hero {
    width: 100%;
    display: flex;
    padding: 0 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('/images/headphones_hero_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

.call-to-action {
    height: 45px;
    width: 150px;
    background-color: #FF6565;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding: 15px; */
    color: #FFFFFF;
}

p {
    font-size: small;
    font-weight: lighter;
    text-align: center;
    max-width: 600px;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
}

.what-we-do h1 {
    font-family: 'Source Sans Pro';
    text-align: center;
    font-weight: bold;
}

.doings-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.doing {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doing span {
    color: #FF6565;
    font-size: 60px;
}

.our-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
    color: #FFFFFF;
    background-image: url('./images/headphones_hero_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.our-results h1 {
    font-family: 'Source Sans Pro';
    text-align: center;
    font-weight: bold;
}

.our-results p {
    text-align: center;
}

.results-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-image: url('./images/pentagone.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.result p {
    font-size: 12px;
}