body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    background-color: rgb(241, 241, 241);
}

aside {
    flex: 1;
    background-color: rgb(255, 245, 153);
}

article, aside {
    overflow-y: auto;
}